bcrypt==3.1.7
chardet==3.0.4
email-validator==1.1.1
Flask-Bcrypt==0.7.1
Flask-Dance==3.0.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-ReCaptcha==0.4.2
Flask-SQLAlchemy==2.4.3
Flask-WTF==0.14.3
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
oauthlib==3.1.0
Pillow==7.2.0
soupsieve==2.0.1
SQLAlchemy==1.3.18
sqlparse==0.3.1
Werkzeug==1.0.1
WTForms==2.3.1
