{% extends "base.html" %} {% block title %}Home{% endblock title %} {% block
content %}

<div class="wrapper">
  <img class="error-img" src="../static/img/error-500.png" alt="500 Error Image could not load successfuly" />
</div>

<h1 class="error">500. Internal Server Error.</h1>

<p>
  There was an error from our side. We don't know about this yet, <br />but if
  you want to tell us what happened so that we can fix it, tell us
  <a target="_blank" href="https://github.com/Whitespace404/EverPost/issues/new"
    style="color: rgb(23, 147, 185); text-decoration: underline">on Github</a>
</p>

<div class="links">
  <a href="{{ url_for('main.home') }}">
    Click here to be taken back to the home page.
  </a>
</div>

{% endblock content %}