<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlaskBlog | {% block title %}{% endblock title %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Cedarville+Cursive&family=Dancing+Script:wght@700&family=Quicksand:wght@600&family=Roboto&family=Roboto+Mono:wght@700&family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href=" {{url_for('static', filename='style.css')}} ">
    <script src="https://kit.fontawesome.com/12f9409aaf.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<div class="main">
    <nav>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler" />
        <div class="hamburger"><div></div></div>

        <div class="menu main">
            <div>
                <div>
                    <ul id="navbar-links">
                        <li id="ml-200"> <a href=" {{ url_for('home') }} "> Home </a> </li>
                        {% if current_user.is_authenticated %}
                            <li><a href=" {{ url_for('account') }}"> Portfolio </a></li>
                            <li><a href=" {{ url_for('new_post') }} "> Create Post </a></li>
                            <li><a href=" {{ url_for('logout') }} " id="red-text"> Logout </a></li>
                        {% else %}
                            <li><a href=" {{ url_for('login') }} "> Login </a></li>
                            <li><a href=" {{ url_for('register')}} "> Register </a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert-{{ category }}">
                    {{ message }}
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">
                    &times;</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock content %}
</div>
</body>
</html>
