{% extends "form.html" %}

{% block title %} Delete Post - {{ post.title }} {% endblock title %}

{% block form %}
<div class="email">
    {{ form.confirmation_text.label }}
    {% if form.confirmation_text.errors %}
    {{ form.confirmation_text(class="invalid-username") }}
    <div class="invalid-feedback">
        {% for error in form.confirmation_text.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ form.confirmation_text }}
    {% endif %}
</div>
<div class="submit-btn">
    {{ form.submit }}
</div>

{% endblock %}