{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
<div class="main">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="box" id="login-fieldset">
            <legend>
                Sign In
            </legend>
            <div class="login">
                <div class="email">
                {{ form.username.label }}
                {% if form.username.errors %}
                    {{ form.username(class="invalid-username") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>


                {% else %}
                    {{ form.username }}
                {% endif %}
                    </div>
                <div class="password">
                {{ form.password.label }}
                {% if form.password.errors %}
                    {{ form.password(class="invalid-password") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password }}
                {% endif %}
                </div>
              <div class="checkbox">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-input") }}
              </div>
                <br>
                <div class="recaptcha">
                {{ form.recaptcha }}
                     <div class="invalid-feedback">
                        {% for error in form.recaptcha.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
              </div>
                <br>
              <small>
                <a href="{{ url_for('register') }}">Need an Account? Sign Up!</a><br>
                  <a href="{{ url_for('reset_request') }}"> Forgot Your Password? </a>
              </small>
            </div>
            <div class="submit-btn">
            {{ form.submit }}
            </div>
    </form>
    </fieldset>
</div>
{% endblock %}
