{% extends 'base.html' %}
{% block title %}Troubleshoot Issues{% endblock title %}

{% block content %}
<div class="troubleshoot-page">
<h1>
    Having problems with our website?
</h1>

<h3>Which part of our page did you have a problem with?</h3><br>
<input type="radio" name="feedback"/> Login <br>
<input type="radio" name="feedback"/> Register <br>
<input type="radio" name="feedback"/> Home <br>
<input type="radio" name="feedback"/> Accounts <br><br>
<input type="submit" value="Submit" onclick="alert('Your response has been recorded.')" /></div>
{% endblock content %}
